<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
<header class="jumbotron jumbotron-fluid">
    <article class="container">
      <h1 class="display-4 text-primary text-xs-center p-b-1 m-b-1">Welcome to Varuvan Vadivelan Institute of Technology</h1>
      <p class="lead">Lakshmi Educational Trust was founded in the year 2002 by the farsighted dynamic Founder/Chairman, Mr. M. Vadivelen, a graduate of Madras University. College In the year 2004-2005, our trust started conducting courses in teacher's education in the memory of the founder's mother Lakshmi Ammal. The Lakshmi Ammal Teacher Training Institute was the first self -financing institute in Dharmpuri and Krishnagiri district.
In the year 2005-2006 Varuvan Vadivelan College of Education was started and offered BEd., MEd., courses. Our college secured gold medal from Thiru Surjit Singh Barnala, His Excellency, The Governor of Tamil Nadu and the Chancellor of Periyar University, Salem.
In the year 2007-2008 The Lakshmi Ammal College of Education for Women was started. Varuvan Vadivelan Institute of Technology was launched in the year 2008 in its sprawling greenish site abetting NH7, 4 KM from Dharmapuri. Approved by Approved by All India Council for Technical Education(AICTE) Affiliated to Anna University Chennai. The college aims to impart best quality education in engineering and technology to all categories of students. Well spacious air-conditioned classrooms with state-of-art equipments and computers, well equipped air-conditioned laboratories, well stocked library and a good canteen, air-conditioned buses are some of the features of the college.</p>
      <p>I have an issuse with <abbr title="Responsive Web Design" class="initialism">RWD</abbr> at the moment and that is the way <em>some</em> sites seem quite happy to fill a mobile screen with a page title or heading. Lets try and rectify that.</p>
      <p>Take a quick read over the <a href="https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography">Responsive Typograpy</a> section of the V4 docs. This will let you understand exactly what Bootstrap sets up for you and how so we know were to start.</p>
      <p>The next thing to consider is some details I read over on <a href="https://css-tricks.com/rems-ems/">CSS Tricks about the use of rems and ems.</a> The only issue you will come across if you want to implement this kind strategey when using Bootstrap is that V4 sets all the typography <code>font-size</code>'s with rem. If you want to use the suggestion from CSS Tricks you will need to either override the styles as done in this pen or edit the cource code.</p>
    </article>
  </header>
  
  <section class="container">		
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>Display Sizes</td>
          </tr>			  
          </thead>
          <tbody>
          <tr>
            <td><h1 class="display-1">Display 1</h1></td>
          </tr>
          <tr>
            <td><h1 class="display-2">Display 2</h1></td>
          </tr>
          <tr>
            <td><h1 class="display-3">Display 3</h1></td>
          </tr>
          <tr>
            <td><h1 class="display-4">Display 4</h1></td>
          </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>Heading Sizes</td>
          </tr>			  
          </thead>
          <tbody>
          <tr>
            <td><h1>h1. Bootstrap heading</h1></td>
          </tr>
          <tr>
            <td><h2>h2. Bootstrap heading</h2></td>
          </tr>
          <tr>
            <td><h3>h3. Bootstrap heading</h3></td>
          </tr>
          <tr>
            <td><h4>h4. Bootstrap heading</h4></td>
          </tr>
          <tr>
            <td><h5>h5. Bootstrap heading</h5></td>
          </tr>
          <tr>
            <td><h6>h6. Bootstrap heading</h6></td>
          </tr>
          </tbody>
        </table>
      </div>
    
      <div class="col-xl-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Example</td>
            </tr>			  
          </thead>
          <tbody>
            <tr>
              <td>
                <h1>One Morning, When Gregor Samsa Woke</h1>
  
                <p>From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
  
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
  
                <h2>One Morning, When Gregor Samsa Woke</h2>
  
                <p>From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
                
                <blockquote class="blockquote">
                  <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
  
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
  
                <h3>One Morning, When Gregor Samsa Woke</h3>
  
                <p>From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
                
                <ul class="list-unstyled">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>
  
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
  
                <h4>One Morning, When Gregor Samsa Woke</h4>
  
                <p>From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
  
                <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.col -->
      
    </div><!-- /.row -->
  </section><!-- /.container -->
  </body>
  </html>
  